* {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
    background-color: rgb(47, 42, 42);
    padding-bottom: 10px;
}
header h1, header h2{
    color: white;
}
header h1{
    font-size: 5em;
    -webkit-text-stroke: 2px rgb(241, 191, 96);
}